.sidebar {
    transition: all 0.3s ease-in-out;
    background: #f4f4f4;
    width: auto;
}

::ng-deep .p-menu {
    min-width: 0 !important;
}

.sidebar-expanded {
    // width: auto;

    ::ng-deep .p-menu {
        min-width: 12.5rem !important;
    }
}

.sidebar-collapsed {
    // width: auto;

    // ::ng-deep .p-menu .text {
    //     display: none;
    // }
}

.sidebar .pi {
    font-size: 1.2rem;
}