.sidebar {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background: #f4f4f4;
    height: 100vh;
}

.sidebar-expanded {
    width: 200px;
}

.sidebar-collapsed {
    width: 45px;
}

.sidebar .pi {
    font-size: 1.2rem;
}