<div class="grid">
    <div class="col-12">
        <p-card header="Customer Table">
            <p-table #dt1 [value]="customers" [columns]="cols" [(selection)]="selectedCustomers" dataKey="id"
                [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [resizableColumns]="true" [autoLayout]="true"
                columnResizeMode="expand" showGridlines stripedRows selectionMode="single" [loading]="loading"
                [paginator]="true" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                stateStorage="session" stateKey="demoTableState" [exportHeader]="'customExportHeader'">
                <ng-template #caption>
                    <div class="flex">
                        <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                        <p-iconfield iconPosition="left" class="ml-auto">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text"
                                (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconfield>
                        <p-button class="ml-2" icon="pi pi-external-link" label="Export" (click)="dt1.exportCSV()" />
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th class="selection-cb">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pResizableColumn pSortableColumn="name">
                            <div>
                                <p-sortIcon field="name" />
                                Name
                                <p-columnFilter type="text" field="name" display="menu" />
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="country.name">
                            <div>
                                <p-sortIcon field="country.name" />
                                Country
                                <p-columnFilter type="text" field="country.name" display="menu" />
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="representative">
                            <div>
                                <p-sortIcon field="representative" />
                                Agent
                                <p-columnFilter field="representative" matchMode="in" display="menu"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template #header>
                                        <div class="px-4 pt-4 pb-0">
                                            <span class="font-bold">Agent Picker</span>
                                        </div>
                                    </ng-template>
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-multiSelect [(ngModel)]="value!" [options]="representatives"
                                            placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                            <ng-template let-option #item>
                                                <div class="inline-block align-middle">
                                                    <img [alt]="option.label" src="assets/images/product.jpg" width="24"
                                                        class="align-middle" />
                                                    <span class="ml-1 mt-1">{{ option.name }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="date">
                            <div>
                                <p-sortIcon field="date" />
                                Date
                                <p-columnFilter type="date" field="date" display="menu" />
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="balance">
                            <div>
                                <p-sortIcon field="balance" />
                                Balance
                                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" />
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="status">
                            <div>
                                <p-sortIcon field="status" />
                                Status
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-dropdown [(ngModel)]="value!" [options]="statuses"
                                            (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option #item>
                                                <p-tag [value]="option.value" [severity]="getSeverity(option.label)" />
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="activity">
                            <div>
                                <p-sortIcon field="activity" />
                                Activity
                                <p-columnFilter field="activity" matchMode="between" display="menu"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template #filter let-filter="filterCallback">
                                        <p-slider [(ngModel)]="activityValues" [range]="true"
                                            (onSlideEnd)="filter($event.values)" styleClass="m-4" />
                                        <div class="flex items-center px-2">
                                            <span>{{ activityValues[0] }}</span>
                                            <span>{{ activityValues[1] }}</span>
                                        </div>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pResizableColumn pSortableColumn="verified">
                            <div>
                                <p-sortIcon field="verified" />
                                Verified
                                <p-columnFilter type="boolean" field="verified" display="menu" />
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-customer>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="customer" />
                        </td>
                        <td>
                            {{ customer.name }}
                        </td>
                        <td>
                            <div class="flex items-center gap-2">
                                <img src="assets/images/product.jpg" [class]="'flag flag-' + customer.country.code"
                                    style="width: 20px" />
                                <span>{{ customer.country.name }}</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-2">
                                <img [alt]="customer.representative.name" src="assets/images/product.jpg" width="32" />
                                <span>{{ customer.representative.name }}</span>
                            </div>
                        </td>
                        <td>
                            {{ customer.date | date: 'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ customer.balance | currency: 'USD' : 'symbol' }}
                        </td>
                        <td>
                            <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" />
                        </td>
                        <td>
                            <p-progressbar [value]="customer.activity" [showValue]="false" />
                        </td>
                        <td class="text-center">
                            <i class="pi" [ngClass]="{
                            'text-green-500 pi-check-circle': customer.verified,
                            'text-red-500 pi-times-circle': !customer.verified
                        }"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>