<div class="grid">
    <p-card header="Skeleton /w Shapes" class="col-12">
        <div class="grid">
            <div class="col-6">
                <h5>Rectangle</h5>
                <p-skeleton styleClass="mb-2" />
                <p-skeleton width="10rem" styleClass="mb-2" />
                <p-skeleton width="5rem" styleClass="mb-2" />
                <p-skeleton height="2rem" styleClass="mb-2" />
                <p-skeleton width="10rem" height="4rem" />
            </div>
            <div class="col-6">
                <h5>Rounded</h5>
                <p-skeleton styleClass="mb-2" borderRadius="16px" />
                <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton width="10rem" height="4rem" borderRadius="16px" />
            </div>
            <div class="col-6">
                <h5 class="mt-4">Square</h5>
                <div class="flex items-end">
                    <p-skeleton size="2rem" styleClass="mr-2" />
                    <p-skeleton size="3rem" styleClass="mr-2" />
                    <p-skeleton size="4rem" styleClass="mr-2" />
                    <p-skeleton size="5rem" />
                </div>
            </div>
            <div class="col-6">
                <h5 class="mt-4">Circle</h5>
                <div class="flex items-end">
                    <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
                    <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
                    <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                    <p-skeleton shape="circle" size="5rem" />
                </div>
            </div>
        </div>
    </p-card>

    <p-card header="Skeleton /w Card" class="col-6">
        <h5>Full Card</h5>
        <div class="flex mb-4">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div>
                <p-skeleton width="10rem" styleClass="mb-2" />
                <p-skeleton width="5rem" styleClass="mb-2" />
                <p-skeleton height=".5rem" />
            </div>
        </div>
        <p-skeleton width="100%" height="150px" />
        <div class="flex justify-between mt-4">
            <p-skeleton width="4rem" height="2rem" />
            <p-skeleton width="4rem" height="2rem" />
        </div>
    </p-card>

    <p-card header="Skeleton /w List" class="col-6">
        <h5>List</h5>
        <ul class="m-0 p-0 list-none">
            <li class="mb-4">
                <div class="flex">
                    <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                    <div class="self-center" style="flex: 1">
                        <p-skeleton width="100%" styleClass="mb-2" />
                        <p-skeleton width="75%" />
                    </div>
                </div>
            </li>
            <li class="mb-4">
                <div class="flex">
                    <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                    <div class="self-center" style="flex: 1">
                        <p-skeleton width="100%" styleClass="mb-2" />
                        <p-skeleton width="75%" />
                    </div>
                </div>
            </li>
            <li class="mb-4">
                <div class="flex">
                    <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                    <div class="self-center" style="flex: 1">
                        <p-skeleton width="100%" styleClass="mb-2" />
                        <p-skeleton width="75%" />
                    </div>
                </div>
            </li>
            <li>
                <div class="flex">
                    <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                    <div class="self-center" style="flex: 1">
                        <p-skeleton width="100%" styleClass="mb-2" />
                        <p-skeleton width="75%" />
                    </div>
                </div>
            </li>
        </ul>
    </p-card>

    <p-card class="col-12">
        <p-table [value]="products!" responsiveLayout="scroll">
            <ng-template #header>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td><p-skeleton /></td>
                    <td><p-skeleton /></td>
                    <td><p-skeleton /></td>
                    <td><p-skeleton /></td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>