.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 1rem 0rem 2rem 13.5rem;
    transition: all 0.3s ease-in-out;
}

.layout-main-container.collapsed {
    padding-left: 4.5rem;
}

.layout-main {
    flex: 1 1 auto;
}

.layout-sidebar {
    display: inline-block;
    position: fixed;
    width: auto;
    height: auto;
    z-index: 999;
    user-select: none;
    top: 4.75rem;
    left: 1.5rem;
}